<div class='panel panel-primary'>
  <div class='panel-heading'>
        <h3> {{title}}</h3>
    </div>
<div>
<form #form="ngForm" (submit)="submitForm(form)">
  <div class="form-group">
     <pm-subproduct [product]='products[0]' (notify)=onNotify($event)></pm-subproduct>
     <pm-subproduct [product]='products[1]' (notify)=onNotify($event)></pm-subproduct>
     <pm-subproduct [product]='products[2]' (notify)=onNotify($event)></pm-subproduct>
     <pm-subproduct [product]='products[3]' (notify)=onNotify($event)></pm-subproduct>
     <button class="btn btn-primary" type="submit">Save</button>
    </div>
</form>

</div>
</div>

Products:{{products | json}}<br>
Angular: {{form.value | json}}