<div class='panel panel-primary'>
  <div class='panel-heading'>
        <h3> {{title}}</h3>
    </div>
<div>
<form #form="ngForm" (submit)="submitForm(form)">
  <div class="form-group">
    <label>Product to Add</label>
    <select class="form-control" name="productName"  [(ngModel)]="productName" (ngModelChange)="getProductStructure($event)">
      <option *ngFor="let pName of productNames">
        {{pName}}
      </option>
    </select>
  </div>
  <div class="form-group">
     <pm-subproduct [product]='products[0]' (notify)=onNotify($event)  *ngFor='let product of products'></pm-subproduct>
     <button class="btn btn-primary" type="submit">Save</button>
    </div>
</form>

</div>
</div>

Products:{{products | json}}<br>
Angular: {{form.value | json}}<br>
ProductName: {{productName | json}}