<div class="form-group">
    {{product.DisplayName}}
    <input id='Sn' type="text" [(ngModel)]='product.Sn' placeholder="Serial Number" name="Sn">
    <input id='ItemNo' type="text" [(ngModel)]='product.ItemNo' placeholder="Item Number" name="ItemNo">
    <input id='Desc1' type="text" [(ngModel)]='product.Desc1' placeholder="Description" name="Desc1" *ngIf="false">
    <input id='Mac0' type="text" [(ngModel)]='product.Mac0' placeholder="MAC0" name="Mac0" *ngIf="false">
    <input id='Mac1' type="text" [(ngModel)]='product.Mac1' placeholder="MAC1" name="Mac1" *ngIf="true">
    <input id='Imei0' type="text" [(ngModel)]='product.Imei0' placeholder="IMEI0" name="Imei0" *ngIf="false">
    <input id='Imei1' type="text" [(ngModel)]='product.Imei1' placeholder="IMEI1" name="Imei1" *ngIf="false">
</div>
