<div class='panel panel-primary'>
    <div class='panel-heading'>
        <h3> {{title}}</h3>
    </div>
    <div class='panel-body'>
        <div class='table-responsive'>
            <table class='table' *ngIf='modules && modules.length'>
                <thead>
                    <tr>
                        <th>PN</th>
                        <th>SN</th>
                        <th>Desc</th>
                        <th>MAC0</th>
                        <th>MAC1</th>
                        <th>IMEI0</th>
                        <th>IMEI1</th>
                        <th>Parent</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let m of modules'>
                        <td>{{m.Sn}}</td>
                        <td>{{m.ItemNo}}</td>
                        <td>{{m.Desc1}}</td>
                        <td>{{m.Mac0}}</td>
                        <td>{{m.Mac1}}</td>
                        <td>{{m.Imei0}}</td>
                        <td>{{m.Imei1}}</td>
                        <td>{{m.ParentId}}</td>
                    </tr>
                </tbody>

            </table>
        </div>
    </div>
</div>